{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col md-4">
               {# {% for message in app.flashes('success') %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endfor %}#}
                <h1>{{ property.title}}</h1>
                <h2>{{ property.rooms}} pièces - {{ property.surface}} m2</h2>
                <div id="show" class="text-primary">{{ property.formattedPrice}} €</div>

        
                <a href="#" class="btn btn-success">Contacter l'Agence</a>
                
                
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    
    <div class="row">
        <div class="col-md-8">
            <h2>Caracteristiques :</h2>
            <table class="table table-striped">
                <tr>
                    <td>Surface habitable :</td>
                    <td>{{ property.surface}} m2</td>
                </tr>
                <tr>
                    <td>Nombre de pièces :</td>
                    <td>{{ property.rooms}}</td>
                </tr>
                <tr>
                    <td>Nombre de chambres</td>
                    <td>{{ property.bedrooms}}</td>
                </tr>
                <tr>
                    <td>Étages</td>
                    <td>{{ property.floor}}</td>
                </tr>
                <tr>
                    <td>Chauffage</td>
                    <td>{{ property.heatType}}</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="col-md-4">
        <h2>Spécificités :</h2>
        <table class="table table-striped">
            <tr>
                <td>{{ property.description | nl2br}}</td>
                    
                
            </tr>
            
        </table>
    </div>

</div>
{% endblock %}